<div
  class="container-fluid d-flex flex-column justify-content-center align-content-center"
>
  <h1 class="text-center mt-4">Best Winter Trips</h1>

  <hr class="col-2 bg-danger" />

  <div class="container card-deck mx-auto">
    <div class="card">
      <img
        src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fimg.fliptab.io%2Fmountain%2F1920x1200%2F53961169.jpg&f=1&nofb=1"
        class="card-img bg-dark text-light"
        alt=""
        style="filter: brightness(60%);"
      />

      <div class="card-img-overlay">
        <div
          class="container d-flex flex-column justify-items-center align-items-center h-100"
        >
          <div class="row align-self-start">
            <div
              class="col bg-danger d-flex justify-content-start align-content-center p-1 m-0 my-auto w-auto"
            >
              <p class="text-light m-1 p-0">€1000/person</p>
            </div>
          </div>

          <div class="row my-auto">
            <p class="h2 text-light">Some text</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
